#hheader{
    background-color: cadetblue;
    border: solid black 2px;
    text-align: center;
    padding: 10px;
    border-radius: 2px 2px; /* Adiciona uma leve borda arredondada no link */
}
p{
    border-radius: 2px 2px; /* Adiciona uma leve borda arredondada no link */
    background-color: burlywood;
    border: solid black 2px;
    text-align: center;
    padding: 20px;
}
#menu{
    border-radius: 2px 2px;
    background-color: antiquewhite;
    overflow: auto; /* Faz os link flutuarem, para linha horizontalmente, junto com o float:left do <li>*/
    border: solid black 2px;
    font-size: 16pt; 
}
#menu li{
    list-style-type: none; /* Retirar o marcadors de lista da tag <li>*/
    float: left; /* Faz os link flutuarem, para linha horizontalmente, junto com overflow auto*/
    width: 15%;
    background-color: burlywood;
    padding: 1%;
    margin: 1%;
    border: solid white 3px;
    text-align: center;
    border-radius: 2px 2px; /* Adiciona uma leve borda arredondada no link */
    box-shadow:  0 0 2px darkslategray; /* cria uma sombra quando passao maouse sobre o link */
}

#menu li:hover{
    box-shadow:  0 0 11px darkslategray; /* cria uma sombra quando passao maouse sobre o link */
    background-color: bisque;
}

div{
    text-align: center;
    padding: 10px;
}

#formtable  {
    width: 400px;
    margin: 0 auto;
}
  
textarea,
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;     
}
  
label {
    display: block;
    margin-bottom: 5px;
}

/*Estilização do footer*/
footer{
    background-color: #f2f2f2;
    padding: 30px;
    text-align: center;
    border: solid #ccc 1px;
    font-size: 9pt;
}
div{
    background-color: white;
    padding: 30px;
    text-align: center;
    border: solid #ccc 1px;
    margin-bottom: 20px;
}