#hheader{
    background-color: cadetblue;
    border: solid black 2px;
    text-align: center;
    padding: 10px;
    border-radius: 2px 2px;
}
p{
    border-radius: 2px 2px;
    background-color: rgb(247, 226, 199);
    border: solid black 2px;
    text-align: center;
    padding: 20px;
}
#menu{
    border-radius: 2px 2px;
    background-color: antiquewhite;
    overflow: auto;
    border: solid black 2px;
}
#menu li{
    list-style-type: none; 
    float: left;
    width: 15%;
    background-color: rgb(212, 212, 173);
    padding: 1%;
    margin: 1%;
    border: solid white 3px;
    text-align: center;
    border-radius: 2px 2px;
    box-shadow:  0 0 2px darkslategray;
}

#menu li:hover{
    box-shadow:  0 0 11px darkslategray;
    background-color: bisque;
}

div{
    border: solid black 1px;
    text-align: center;
    padding: 10px;
}
form#formmsg {
    display: table;
  }
  
div#formmsg {
    display: table-row;
}
  
  label,
  input {
    display: table-cell;
    margin-bottom: 10px;
  }
  
  label {
    padding-right: 10px;
  }
  